<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <p>Hello {{ name }}</p>

    <p>{{ courseName }}</p>

    <p>{{ assignmentName }}</p>

    <img src="{{{ pieChart }}}" alt="pieChart" />
  </body>
</html>
